{% extends 'project_first_app/app.html' %}

{% block content %}
<h1>Водители</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Дата рождения</th>
             <th>Паспорт</th>
             <th>Адрес</th>
             <th>Национальность</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for driver in drivers %}
        <tr>
            <td>{{ driver.first_name }}</td>
            <td>{{ driver.last_name }}</td>
            <td>{{ driver.date_of_birth }}</td>
            <td>{{ driver.passport_number }}</td>
            <td>{{ driver.address }}</td>
            <td>{{ driver.nationality }}</td>
            <td>
                <a href="{% url 'update_driver' driver.id %}" class="btn btn-warning">Редактировать</a>
                <a href="{% url 'delete_driver' driver.id %}" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'create_driver' %}" class="btn btn-success">Добавить водителя</a>
<a href="{% url 'index' %}" class="btn btn-warning">Назад</a>
{% endblock %}
