{% extends "app.html" %}

{% block content %}
<h1>Автомобили</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Номер</th>
            <th>Марка</th>
            <th>Модель</th>
            <th>Цвет</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for car in cars %}
        <tr>
            <td>{{ car.number }}</td>
            <td>{{ car.brand }}</td>
            <td>{{ car.car_model }}</td>
            <td>{{ car.color }}</td>
            <td>
                <a href="{% url 'update_car' car.id %}" class="btn btn-warning">Редактировать</a>
                <a href="{% url 'delete_car' car.id %}" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'create_car' %}" class="btn btn-success">Добавить авто</a>
<a href="{% url 'index' %}" class="btn btn-warning">Назад</a>
{% endblock %}